#footer{
    display: none;
}
#forms{
    background-color: 
    #e1e1e1;
    margin-top: 3rem;

}
.form-control title{
    display: none;
}
#register{
    margin-left: 30rem;
}
#one{
    margin-left: 30rem;
    margin-top: 8rem;
}
#all{
    background-color: white;
    margin-top: 2rem;
}