{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">


  {% block styles %}
  {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Allura&family=Antonio:wght@500&family=Lobster&family=Mrs+Saint+Delafield&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,900;1,300&display=swap" rel="stylesheet">
  {% endblock %}

</head>

<body>
  <div class="container-fuid" style="width:100vw ;">

  {% include "navbar.html" %}
  {% block content %}
    
  
  {%endblock%}
</div>


  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{% static 'js/neighbor.js' %}"></script>
  {% bootstrap_javascript %}
  {% endblock %}

  {% block javascript %}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js">
  </script>
  <script src="https://use.fontawesome.com/191e478c5e.js"></script>
  {% endblock %}
</body>

</html>