{% load bootstrap4 %}



    <nav class="navbar sticky-top d-flex justify-content-around navbar-dark bg-dark bg-opacity-1" style="height:5rem ;">

        <nav class="navbar navbar-expand-md navbar-light d-flex">
    
            <button class="navbar-toggler "  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"`
                aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
    
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse"  id="navbarNav">

                <div class="home">
                    <a class="navbar-brand pt-3" style="font-size:xx-large ;" href="{% url 'home_page' %}">
                        <p class="d-inline-block logoText  text-larger">The Hood</p>
                        </a>
                </div>

                <div class="nav-item">
                    <a class="nav-link text-black" style="font-size:large ;" href="{% url 'newhood' %}"><strong>Create</strong></a>
                </div> 
    
                <ul class="navbar-nav mr-5 ">
                    <form action="{%url 'search_results' %}" role="search" class=" my-1">
                        <input class="form-control me-2 " type="search" placeholder="Search Hood" aria-label="Search" id="input" name="name">
                    </form>
                    
    
                    <div class="" style="display:flex; " id="drop">
                        {% if user.is_authenticated %}
        
                        <div class="profile m-3 mx-5">
                            <a href="{% url 'edit_profile' %}">Profile</a>
                        </div>
                                    
                        <div class="logout pt-3 mx-2">
                            <a href="/logout">Logout</a>
                        </div>
        
                        {% else %}
                        <li style="list-style: none; display: flex;" class="pt-3 mx-2">
                            <a href="/accounts/register/" class="mx-3" style="font-size:large;">SignUp</a>
                            <a class='btn btn-default mx-3 text-primary' href="/accounts/login/" style="font-size:large;">SignIn</a>
                        </li>
        
                        {% endif %}
                        {% if data.profile.Profile_photo %}
                        <img src="{{profile.profile.Profile_photo.url}}" alt="img" width="50px" height="50px ">
                        <h1 class="profile-user-name" style="font-size: 14px;">{{profile.username}}</h1>
                        {% endif %}

                    </div>
                    {% if request.user.profile.neighborhood %}
                    <div class="row">
                        
                        <a class="pt-3 mx-5" style="font-size:large ;" href="{% url 'hood' neighborhood_id=request.user.profile.neighborhood.id %}" >Current Hood</a>
                    </div>
                    {% endif %}
                
                </ul>
    
            </div>
        
        </nav>
    
    </nav>